<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>
            <Class>CurrencyConversion.API.Middlewares.LoggingMiddleware</Class>
             <Class>CurrencyConversion.Application.Common.Constants.CurrencyConstants</Class>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
